# Introdução

In [ ]:
#os tópicos a seguir são os 7 tipos básicos de operadores

# Aritiméticos

In [ ]:
# 7 operadores aritiméticos
+ 
*
/ float
// int
-
% modulo 
** exponencial

#usados para fazer operações aritiméticas usando o int ou float

In [2]:
x = 5 
y = 6 

x + y

11

In [3]:
x - y

-1

In [4]:
x * y

30

In [5]:
#divisão float com números quebrados
x / y

0.8333333333333334

In [6]:
#divisão int sempre com números inteiros
x // y

0

In [7]:
x % y

5

In [8]:
x ** y

15625

In [ ]:
 #operações com str são possiveis somente com + para juntar as str e * com números que aumentam as str

In [10]:
r = 'Samantha' 
u = 'Ferreira' 

r + u

'SamanthaFerreira'

In [12]:
r = 'Samantha' 
u = 'Ferreira' 

r * 3

'SamanthaSamanthaSamantha'

In [13]:
s = [1, 2, 3]
t = [4, 5, 6]

f = s + t 

f

[1, 2, 3, 4, 5, 6]

In [15]:
s = [1, 2, 3]
t = [4, 5, 6]

f = s * 5

f

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [18]:
#números complexos... números imaginários

a = 2 + 3j

a.real

2.0

In [19]:
a.imag

3.0

In [20]:
a = 2 * 3j

a.real

0.0

In [21]:
a.imag

6.0

# Atribuição

In [ ]:
# operadores de atribuição que servem para atribuir valores a variáveis =, - =, + =, * =, / =, // =, ** =, % =

In [35]:
numero = 25
pessoa = maria

NameError: name 'maria' is not defined

In [36]:
numero = numero + 5 
numero

30

In [37]:
numero *= 5
numero

150

In [38]:
numero += 7
numero

157

In [39]:
numero **= 3
numero

3869893

In [42]:
g = 1
for i in range (5):
    g += 2

print(g)

11

# Comparação

In [ ]:
#2 valores de tipo de dado ==, |=, >, <, >=, <=

In [43]:
h = 5
g = 6 
h == g

False

In [46]:
h >= g

True

In [47]:
h <= g

False

In [49]:
x >= y

False

In [52]:
#listas 

s = [1, 2, 3]
t = [4, 5, 6]

s == t

False

In [55]:
s >= t

False

In [56]:
s <= t

True

In [57]:
#strings compara o tamanho da str e não o valor dela 

r = 'Samantha' 
u = 'Ferreira'

r == u

False

In [59]:
u == r

False

In [60]:
r < u

False

In [61]:
r > u

True

# Lógicos

In [ ]:
and or not

In [72]:
a = True 
c = True

In [73]:
a and c

True

In [74]:
a or c

True

In [85]:
a and a

True

In [86]:
a and c

True

In [87]:
c and a

True

In [88]:
a or c

True

In [89]:
c or a

True

In [90]:
a or a

True

In [91]:
c or c

True

In [92]:
a or a

True

In [98]:
not c

False

In [99]:
not a

False

In [101]:
not a + c

False

In [102]:
not a + a

False

# Bit a Bit ou bitwise

In [106]:
#vou usar mais porque ele é voltado para programas cientificos, mas neste curso eles não vão explicar a fundo

In [ ]:
#bit é a menor unidade da computação. Temos Gibites, megabites, e bites.

In [ ]:
#Toda informação no computador é representada de forma binária. 0 ou 1

In [ ]:
0 -- 0
1 -- 1
2 -- 10
3 -- 11
4 -- 100
5 -- 101
6 -- 110
7 -- 111

& and | ou ^ ou exclusivo ~ << >> deslocamento binário  

#são os 6 operadores bit a bit

In [107]:
10
& 
11
__

10

SyntaxError: invalid syntax (<ipython-input-107-dd36c8253445>, line 2)

In [108]:
3 & 2

2

In [ ]:
101
&
110
& 
111
__
110

In [110]:
6 & 7 & 5

4

In [ ]:
100
|
110
__
110

In [111]:
6 | 4

6

In [113]:
4 >> 1

2

In [114]:
6 << 1

12

In [116]:
100 -- 1

101

# Identificação

In [ ]:
is, is not

In [ ]:
h = 5
g = 6

In [117]:
h is g

False

In [118]:
h is h

True

In [119]:
r = 'Samantha' 
u = 'Ferreira'

r is u

False

In [120]:
u is u

True

In [121]:
u is not u

False

In [122]:
r is not h

True

# Filiação

In [ ]:
in, not in

In [124]:
l = [4, 1, 2, 3, "tarde"]

In [132]:
5 in l

False

In [134]:
"tarde" not in l

False

In [135]:
4 in l

True

In [136]:
7 not in l

True